button{
	width:48px;
	height:24px;

	paddingileft:3px;
	padding-right:3px;
}
#main{
	width:848px;
	height:auto;
	background-color:#FFFFFF;
	text-align: left;
	vertical-align: top;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#left{
	background-color:#F7F7F7;
	width:229px;
	height:400px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:6px;
	float:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
#left div{
padding:6px;}
#mid{
	width:453px;
	height:400px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	float:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E2DFDF;
}
#news{}
#server{}
#right{
	width:150px;
	height:400px;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
}
h1{
	font-size: 14px;
	font-weight: bold;
	text-indent: 12px;
	color:#333333;
	margin-top:15px;
	margin-bottom:7px;
}
h2{
	font-size: 12px;
	font-weight: bold;
	text-indent: 12px;
	color:#666666;
	clear:both;
	margin-top:0px;
	margin-left:3px;
	margin-bottom: 0px;
}
h3{
	font-size: 12px;
	font-weight: normal;
	text-indent: 12px;
	color:#B6B6B6;
	margin:7px;
}
p{
	margin:2px;
	margin-left:7px;
}
input{
	width:130px;
	border: 1px solid #006600;
	margin-left:5px;
	margin-right:5px;
}
button{
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#669933;
	height: 20px;
	width: 45px;
	padding-top:2px;
	border:0;
}
em{
	font-family:"ו";
	font-size: 12px;
	font-style: normal;
	color: #5E9C2F;
	float: right;
	margin-top:10px;
	margin-right:15px;
	display:block;
}
a.adv_search{
	color: #5E9C2F;
}
h4{
	display: block;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #C7C7C7;
	padding-bottom:10px;
	margin:7px;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: right 7px;
}
a.client{
	font-size:12px;
	color:#4B4B4B;
}
b{
	width:229px;
	display: block;
	text-align: center;
	margin-top:15px;
}

#news h1{
	padding-bottom:10px;
	margin:7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9AB95D;
}
#news i{
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	font-style: normal;
	margin-left:280px;
}
a.fir_news{
	color:#758B4B;
}
#news div{
	height: 100px;
	width: 360px;
	background-image: url(../images/news.jpg);
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding-left: 70px;
	margin:10px;
	line-height: 18px;
	text-indent: 24px;
}
#news em{
	
}
.news_1{
	background-image:url(../images/news_dot.gif);
	background-repeat:no-repeat;
	background-position: 1px 5px;
	margin-left:10px;
	display:block;
	width:350px;
	height:25px;
	text-indent: 15px;
	float:left;
}
.news_2{
	display:block;
	width:60px;
}
#right ul{
	list-style-type:none;
	margin-left:10px;
	background-image: url(../images/mail_man.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
}
#right li{
	background-image: url(../images/style_dot.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	height: 30px;
	width: 141px;
	text-indent: 20px;
}
#right a{
	font-size:13px;
	margin-top:0px;
}
#phone{
	margin-top:130px;
}
#phone h1{
	color:#6E8540;
}
#phone p{
	margin-left:10px;
	margin-top:7px;
}
#phone span{
	font-size:14px;
	font-weight:bold;
	background-image: url(../images/phone.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: 25px;
	display: block;
	height: 20px;
	width: 140px;
	margin-left:10px;
	margin-top:7px;
}